{% extends "articles/base.html" %}


{% block title %} Мои уведомления {% endblock %}

{% block content %}
    <div class="container py-4">
        <h1 class="mb-4"> Мои уведомления</h1>

        {% if notifications %}
            <div class="list-group">
                <form method="post"
                      action="{% url 'articles:mark_all_notification_as_read'%}"
                      class="mb-3">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-primary btn-sm">
                        Отметить все как прочитанное
                    </button>
                </form>

                {% for notification in notifications %}
                    <div class="list-group-item {% if not notification.is_read %} list-group-item-warning {% endif %}">
                        <div class="d-flex justify-content-between gap-3">
                            <div>
                                <div class="fw-semibold">
                                    {{notification.message}}
                                </div>
                                <div class="small text-muted">
                                    {{notification.created_at}}
                                </div>

                                {% if notification.article %}
                                    <a href="{% url 'articles:article_detail' notification.article.pk %}"
                                        class="btn btn-outline-primary btn-sm mt-2">
                                        Перейти к статье
                                    </a>
                                {% endif %}
                            </div>
                            <div>
                                <div class="text-end">
                                    {% if notification.is_read %}
                                        <span class="badge bg-info-subtle text-dark">Прочитано</span>
                                    {% else %}
                                        <span class="badge bg-warning text-dark">Новое</span>
                                        <form method="post" 
                                              action="{% url 'articles:mark_notification_as_read' notification.pk %}"
                                              class="mt-2">
                                            {% csrf_token %}

                                            <button type="submit" class="btn btn-success btn-sm">
                                                Отметить как прочитанное
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">
                У вас нет новых уведомлений
            </div>
        {% endif %}
    </div>

{% endblock %}